<h1>Welcome to the CSE Motors!</h1>
<div class="car-image-wrapper">
    <img src="/images/vehicles/delorean.jpg" alt="Delorean Car" class="center-img">
    <div class="car-overlay">
        <!-- Put any content you want here -->
        <h3>DMC DeLorean</h3>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <img src="/images/site/own_today.png" alt="Own Today">
    </div>
</div>

<section class="delorean-split">

    <article class="left-section vehicle-gallery">
        <h2>DMC Delorean Upgrade</h2>
        <div>
            <div class="image-container">
                <img src="/images/upgrades/flux-cap.png" alt="Custom Delorean" class="vehicle-img">
            </div>
            <a href="/upgrades/flux-cap" class="upgrade-link">Flux Capacitor</a>
        </div>
        <div>
            <div class="image-container">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals" class="vehicle-img">
            </div>
            <a href="/upgrades/flame" class="upgrade-link">Flame Decals</a>
        </div>
        <div>
            <div class="image-container">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker" class="vehicle-img">
            </div>
            <a href="/upgrades/bumper-sticker" class="upgrade-link">Bumper Sticker</a>
        </div>
        <div>
            <div class="image-container">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" class="vehicle-img">
            </div>
            <a href="/upgrades/hub-cap" class="upgrade-link">Hub Caps</a>
        </div>
    </article>
    
    <article class="right-section">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </article>
    
</section>

